.vscode/
a.out
# CMake files Este archivo es para ignorar los archivos que se generan al compilar por parte de Clion
cmake-build-debug/
# Carpeta para las que se generan los archivos de compilación y tendre que usar el sig comando para generarlos
# g++ ../C++_Doc/PrimerTest.cpp
build
.idea/
cmake-build-release/
out